[submodule "basics"]
	path = basics
	url = git@github.com:PatriotRossii/informatics_laboratories_8_0.git
[submodule "django"]
	path = web
	url = git@github.com:PatriotRossii/informatics_laboratories_8_1.git
